html,
body,
#app {
    height: 100svh;
    scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "K2D";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/K2D-Regular.ttf);
    }
    @font-face {
        font-family: "Asap Condensed";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/AsapCondensed-Regular.ttf);
    }
}

.tooltip {
    position: relative;
    /* display: inline-block; */
    cursor: default;
}

.tooltip .tooltiptext {
    visibility: hidden;
    padding: 0.25em 0.5em;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 0.25em;
    white-space: nowrap;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 100%;
    transition-property: visibility;
    transition-delay: 0s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    transition-delay: 0.3s;
}