html,
body,
#app {
    height: 100svh;
    scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "K2D";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/K2D-Regular.ttf);
    }
    @font-face {
        font-family: "Asap Condensed";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/AsapCondensed-Regular.ttf);
    }
}

